<div class = "login-container">
    <h1>Welcome to DBDC</h1>

    <h3>Login</h3>

    <div class = "error"><%= flash.notice %></div>

    <%= form_tag '/login' do %>
        <p>
            <%= label_tag :username %>
            <%= text_field_tag :username %>
            <br>
            <%= label_tag :password %>
            <%= password_field_tag :password %>
            <%= submit_tag "Login" %>
        </p>
    <% end %>
    <br>
    <p><%= link_to "Create a New User", new_user_path %></p>
</div>