<div>
   <h1><%= @dive_bar.name %></h1>
   <!-- STYLEZ This should be right next to the h1 -->

 <% if !!@favorite %>
   <%= button_to "UnFavorite", "/favorites/#{@favorite.id}", "method" => :delete, params:{dive_bar_id: @dive_bar.id} %>
<%else%>
   <%= button_to "Favorite", favorites_path, params:{dive_bar_id: @dive_bar.id} %>
<%end%>









   <%= image_tag ("CatsOnTapReaction.png") %>
   <h3><%= @dive_bar.description %></h3>
</div>

<div>
   <h3>Average Rating:</h3>
   <% rating = @dive_bar.reviews.map do |review| %>
      <% review.rating %>
   <% end %>

   <%= average = rating.sum / rating.size.to_f %> /10 stars

   <h3>Location: </h3> <%= link_to @dive_bar.neighborhood.name, neighborhood_path(@dive_bar.neighborhood) %>
   

   <h3>Bands: </h3>
   <% @dive_bar.bands.each do |band|%>
      <%= link_to band.name, band_path(band) %>
   <% end %>

   <h3>Reviews:</h3>
   <ul>
   <% @dive_bar.reviews.each do |r| %>
      <li> <%= r.review %> <br>
      <%= r.rating %> /10 stars <br>
      Review By: <%= r.user.name %> </li>
      <%end%>
      </ul>

   <%= link_to "Leave a Review", bar_review_path(@dive_bar.id) %>
 </div>