<div class = "user-container">
    <h1><%=@user.name%> </h1><br> <br>
    <div>Neighborhood: <%=  link_to @user.neighborhood.name.titleize, neighborhood_path(@user.neighborhood_id)%></div> <br>
    <div> Favorite Music Genre: <%=@user.fav_genre%></div> <br>

    <br>
    <div>My Favorite Bars: </div>
        <% if @user.favorites == [] %>
            <p> </p>
        <%else %>
            <ul>
                <% @user.favorites.each do |f| %>
                    <li> <%= link_to f.dive_bar.name.titleize, dive_bar_path(f.dive_bar) %> </li><br>
                <%end%>
            </ul>
        <%end%>
    <br>

    <div>Reviews Made: </div>

        <% if @user.reviews == []%>
            <div>No Reviews Made</div>
        <%else%>
            <ul>
                <% @user.reviews.each do |r| %>
                    <li> Bar: <%=link_to r.dive_bar.name.titleize, dive_bar_path(r.dive_bar) %> <br> 
                    Review: <%= r.review %> </li>
                <%end%>
            </ul>
        <%end%>
    <br>

    <button class = "user_button" type = "button"><%= link_to "Edit", edit_user_path(@user)%></button> <button class = "user_button" type = "button"><%= link_to "Delete User", login_path, "method" => :delete %></button>
</div>
