<h1>Write a Review For <%= @dive_bar.name.titleize %> </h1>
<%= form_for @review do |f| %>
    <%= f.hidden_field :user_id, value: session[:user_id] %>
    <%= f.hidden_field :dive_bar_id, value: @dive_bar.id %>
    <%= f.label :rating %>
    <%= f.select :rating, (1..10) %>
    <%= f.label :review %>
    <%= f.text_field :review %>
    <%= f.submit %>
<%end%>


